/*CSS for About page*/


/*general layout*/
#contentContainer{
	
}
#section_Header{
	background-color: #ff6600;
	width: 20%;
	margin: 10px 0;
}

#about_article{
	background-color: #793fc4;
	width:68.15%;
	float: left;
	padding: 20px 10px 20px 10px;
	font-size: 28px;
}

#sideGallery{
	background-color: #009900;
	width:30%;
	float: right;
	text-align: center;
}

/*specific layout*/
#about_article p{
	margin: 10px;
	font-size: 30px;
	text-align: justify; 
}

#about_article p em ,#about_article p strong{
	color: #ba0000;
}

#about_article h3{
	text-align: center;
}

#about_article blockquote{
	text-align: center;
	font-style: italic;
}

/*Side gallery*/

#joker, #harley{
	transition: ease 1s;
	width: 200px;
	height: 200px;
	border: solid 12px #ff6600;
	background-size: 200px 200px;
	display: block;
	margin: 0 auto;
}

#joker{
	background-image: url('images/joker1.jpg');
}

#harley{
	background-image: url('images/harley1.jpg');
}

#joker:hover{
	background-image: url('images/joker2.jpg');
}

#harley:hover{
	background-image: url('images/harley2.jpg');
}


