*
{
	margin: 0;
	padding: 0;
}

body
{
	background: url(images/grassback.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: "Century Gothic";
}

.content-block
{
	margin: 0;
	padding: 5px 0 10px 0;
	background: #ef4135;
	height: 50px;
	width: 100%;
	border: solid 5px black;
}

#nav
{
	width: 1000px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 45px;
	float: block-inline;
	box-shadow: 10px 10px 5px #888888;
}

#nav ul
{
	list-style-type: none;
}

#nav li
{
	display: inline;
}

#nav img
{
	width: 45px;
	height: 45px;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	-moz-border-radius-topleft: 10px;
  	-moz-border-radius-topright: 10px;
  	-moz-border-radius-bottomright: 0px;
 	 -moz-border-radius-bottomleft: 0px;
  	-webkit-border-radius: 10px 10px 0px 0px;
  	border-radius: 10px 5px;
	background-color: white;
	color: #ef4135;
}

form 
{
	padding: 5px;
	font-family: "Century Gothic";
}

form fieldset 
{
	background-image: url('images/pikachurep.jpg');
	width: 700px;
	height: 460px;
	border: solid 3px black;
	box-shadow: 10px 10px 5px #888888;
}

form legend 
{
	border: solid 2px black;
	background-color: #ef4135;
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	font-family: "Century Gothic";
} 

form input, form textarea 
{
	display: block;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
} 

form label 
{
	font-size: 25px;
	text-transform: uppercase;
	font-family: "Century Gothic";
} 

form input[type="text"], form input[type="email"], form textarea 
{
	padding: 10px;
	font-size: 20px;
	font-family: "Century Gothic";
	color: white;
	border: solid 2px black;
	background-color: #ef4135;
}

form textarea 
{
	background-color: #ef4135;
	border: solid 2px black;
	width: 300px;
	height: 100px;
}

form input[type="submit"] 
{
	background-color: #ef4135;
	top left repeat x;
	height: 40px;
	padding: 0 20px;
	border: solid 2px black;
	color: black;
	font-weight: bold;
	font-family: "Century Gothic";
	cursor: pointer;
}

/*SOCIAL MEDIA LINKS*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;

	border: solid 5px black;
}

.ch-img-1 
{ 
	background-image: url(images/facebook.png);
}

.ch-img-2 
{ 
	background-image: url(images/twitter.png);
}

.ch-img-3 
{ 
	background-image: url(images/instagram.png);
}

.ch-img-4 
{ 
	background-image: url(images/linkedin.png);
}

.ch-img-5
{ 
	background-image: url(images/youtube.png);
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.ch-info h2 {
	color: #fff;
	text-transform: uppercase;
	position: center;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 45px;
	font-family: "Century Gothic";

}

.ch-info p
{
	font-family: "Century Gothic";
	font-size: 12px;
}
.ch-info p a:hover 
{
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover 
{
	box-shadow: 
		inset 0 0 0 110px rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info 
{
	opacity: 1;
	transform: scale(1);	
}

