*
{
	margin: 0;
	padding: 0;
}

body
{
	background: url(images/grassback.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: "Century Gothic";
}

.content-block
{
	margin: 0;
	padding: 5px 0 10px 0;
	background: #ef4135;
	height: 50px;
	width: 100%;
	border: solid 5px black;
}

#nav
{
	width: 1000px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 45px;
	float: block-inline;
	box-shadow: 10px 10px 5px #888888;
}

#nav ul
{
	list-style-type: none;
}

#nav li
{
	display: inline;
}

#nav img
{
	width: 45px;
	height: 45px;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	-moz-border-radius-topleft: 10px;
  	-moz-border-radius-topright: 10px;
  	-moz-border-radius-bottomright: 0px;
 	 -moz-border-radius-bottomleft: 0px;
  	-webkit-border-radius: 10px 10px 0px 0px;
  	border-radius: 10px 5px;
	background-color: white;
	color: #ef4135;
}

/*--------------------------------IMAGE SLIDER THAT'S NOT A SLIDER------------------------------------*/
.slides 
{
    padding: 0;
    width: 700px;
    height: 420px;
    display: block;
    margin: 20px 0 20px 275px;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide 
{
	border: solid 4px;
    top: 0;
    opacity: 0;
    width: 700px;
    height: 420px;
    display: block;
    position: absolute;
    box-shadow: 5px 5px 5px #888888;

    transform: scale(0);

    transition: all .7s linear;
}

.slide img 
{
    width: 100%;
    height: 100%;
}

.nav label 
{
	padding: 0;
    width: 200px;
    height: 101%;
    display: none;
    position: absolute;

    text-align: center;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: Century Gothic;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide 
{
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots 
{
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot 
{
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover 
{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-6:checked ~ .nav-dots label#img-dot-6 
{
	background: rgba(0, 0, 0, 0.8);
}
/*--------------------------------------------------------------------------------*/

.lsidebar
{
	border: solid 5px;
	width: 200px;
	padding: 20px 20px;
	margin: 15px 0px 20px 240px;
	float: left;
	box-shadow: 5px 5px 5px #888888;
}

.lsidebar p
{
	font-size: 14.2px;
}

#container 
{
	width: 100%;
	margin: 0 auto;
	padding: 40px;
}

h2
{
	font-size: 45px
}

#footer
{	
	box-shadow: 10px 10px 5px #888888;
	margin: 10px;
	padding: 10px 25px;
	width: 950px; 
	color: black;
}

#footer img 
{
	width: 30px;
	height: 30px;
}

#footer p
{
	font-size: 20px;
}


